.find-section {
  background-color: #315AEF;
  border-radius: 20px;
  display: flex;
  width: 1242px;
  max-width: 100%;
  align-items: center;
  gap: 110px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 30px;
  cursor: pointer;
}
.image-wrapper {
  transform: rotate(180deg);
  width: 176px;
}
.find-image {
  width: 100%;
  aspect-ratio: 1.24;
  object-fit: contain;
}
.content {
  color: #fff;
  font: 30px Montserrat, sans-serif;
  min-width: 240px;
}
.title {
  font-weight: 500;
  margin: 0;
}
.description {
  font-weight: 900;
  line-height: 47px;
  margin: 0;
}
@media (max-width: 991px) {
  .find-section {
    padding: 20px;
  }
  .content {
    max-width: 100%;
  }
}
