<section class="find-section">
  <div class="image-wrapper">
    <img
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/b0648feb6f255d17a61fdcdf7a98434bbaa847970cbfe31068c3276d0080f56b?placeholderIfAbsent=true&apiKey=ce275dddc72e48378c03f0bdece66cd6"
      alt="Lost item illustration"
      class="find-image"
      loading="lazy"
    />
  </div>
  <div class="content">
    <h2 class="title">Did you find something?</h2>
    <p class="description">
      Click here.<br />
      Just insert the data, we care the rest!
    </p>
  </div>
</section>
