<div class="flex flex-column w-full h-full">
  <div class="w-full" *ngIf="loggedIn">
    <app-nav-logged
    (searchChanged)="onSearchValueChanged($event)"
    ></app-nav-logged>
  </div>
  <div class="w-full"  *ngIf="!loggedIn">
    <div><app-nav></app-nav></div>
  </div>
  <div class="w-full">
    <app-category-sec></app-category-sec>
    <app-post-item></app-post-item>
    <div class="w-full">
      <app-recent-items-lost></app-recent-items-lost>
    </div>
    <div class="w-full">
      <app-recent-items-found [searchQuery]="searchQuery"></app-recent-items-found>
    </div>
  </div>
</div>
