
html {
  height: 100%;
}

table {
  width: 100%;
  .mat-mdc-header-cell {
    font-weight: bold !important;
    background: #3d7a90 !important;
    color: white !important;
  }
}

.menu{
  background-color: #3d7a90 !important;
  color: white !important;
}

.menu-btn{
  color: white !important;
}

.menu-btn-active{
  background-color: white !important;
  color: #3d7a90 !important;
}

.btn-default:active {
  background-color: #3d7a90 !important;
  color: white !important;
}


