<form [formGroup]="formGroup" (ngSubmit)="saveOrUpdate()">
  <!-- Título -->
  <div>
    <label >Título</label>
    <input matInput formControlName="title" placeholder="Título do item" />
    <mat-error *ngIf="formGroup.controls['title'].hasError('required')">O título é obrigatório.</mat-error>
  </div>

  <!-- Descrição -->
  <div>
    <label >Descrição</label>
    <input matInput formControlName="description" placeholder="Descrição do item" />
    <mat-error *ngIf="formGroup.controls['description'].hasError('required')">A descrição é obrigatória.</mat-error>
  </div>

  <!-- Categoria -->
  <div>
    <label >Descrição</label>
    <input matInput formControlName="category" placeholder="Descrição do item" />
    <mat-error *ngIf="formGroup.controls['description'].hasError('required')">A descrição é obrigatória.</mat-error>
  </div>

  <!-- Data Encontrada -->
  <div>
    <label >Data Encontrada</label>
    <input matInput type="date" formControlName="date_found" />
    <mat-error *ngIf="formGroup.controls['date_found'].hasError('required')">A data de encontro é obrigatória.</mat-error>
  </div>
  <!-- Botão de Enviar -->
  <div>
    <button mat-raised-button type="submit" [disabled]="formGroup.invalid" (click)="saveOrUpdate()">Salvar</button>
  </div>
</form>
