<section class="recents-section">
  <article class="lost-item-card" role="article">
    <div
      *ngFor="let item of recentItems"
      class="item-card"
      [attr.aria-label]="'Item: ' + item.category"
      tabindex="0"
    >
      <div class="item-details">
        <h2 class="item-name">{{ item.title }}</h2>
        <time class="item-date" [dateTime]="dateString">{{ item.date_lost }}</time>
        <div
          class="item-status"
          role="status"
          [attr.aria-label]="'Item status: ' + 'item found'"
        >
          item found
        </div>
      </div>
    </div>
  </article>
</section>
